.app-logo {
  width: 100%;
  height: 100px;
}

.app-item {
  background-color: transparent;
  border: none;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 110px;
  cursor: pointer;
  padding: 0px;
  outline: none;
}

@media screen and (max-width: 768px) {
  .app-item {
    max-width: 170px;
  }
}
